@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>Dane personalne</h4>

<div class="row">
    <div class="col-md-6">
        <p>Tutaj możesz skasować swoje konto i dane personalne, które nam powierzyłaś/łeś.</p>
        <p>
            <strong>Usunięcie tych danych uniemożliwi ich odzyskanie</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Pobierz dane</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">Usuń konto</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}